@charset "UTF-8";
* {
  font-family: Roboto; }

a {
  color: #00A79A !important;
  text-decoration: none !important; }

.container-fluid {
  padding: 0; }

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right; }

.list-inline li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #EEE; }

.caret:after {
  content: "\f0d7";
  font-family: 'FontAwesome';
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: 0;
  display: inline-block; }

.cabecalho-linha {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid #DDD; }

.cabecalho {
  background: #F5F5F5;
  padding-bottom: 10px; }

.cabecalho .cabecalho-links {
  padding-top: 50px;
  font-size: 16px; }

.cabecalho .cabecalho-links ul {
  list-style: none; }

.cabecalho .cabecalho-links ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #EEE; }

.cabecalho .cabecalho-carrinho {
  margin-top: 44px; }

.cabecalho .cabecalho-carrinho .carrinho {
  font-size: 19px;
  background: #FFF;
  border: 4px solid #DDD;
  border-style: double;
  padding: 12px;
  text-align: center; }

.cabecalho-busca-fundo {
  background: #F5F5F5; }

.cabecalho-busca {
  background: #444; }

/* ├ìcones */
.glyphicon-phone-alt {
  color: #00A79A; }

.glyphicon-envelope {
  color: #00A79A; }
