*{font-family: Roboto}

.container-fluid{padding: 0}


.cabecalho-linha{padding-top: 10px; padding-bottom: 10px; font-size: 12px; border-bottom: 1px solid #DDD}
.cabecalho{background: #F5F5F5; }


/* Ícones */
.glyphicon-phone-alt{color: #df1f26}
.glyphicon-envelope{color: #df1f26}